<?xml version="1.0"?>


<config>
    <global>
        <models>
            <Paymentz>
                <class>Mage_Paymentz_Model</class>
            </Paymentz>
        </models>
    </global>
    <frontend>        
        <routers>
            <Paymentz>
                <use>standard</use>
                <args>
                    <module>Mage_Paymentz</module>
                    <frontName>Paymentz</frontName>
                </args>
            </Paymentz>
        </routers>
	<translate>
            <modules>
                <Mage_Paymentz>
                    <files>
                        <default>Mage_Paymentz.csv</default>
                    </files>
                </Mage_Paymentz>
            </modules>
        </translate>        
    </frontend>
    <default>
        <payment>
            <Paymentz>
                <active>1</active>
                <model>Paymentz/method_Paymentz</model>
                <order_status>1</order_status>
		<payment_success_status>2</payment_success_status>
                <title>TransactWorld</title>
				<allowspecific>0</allowspecific>
            </Paymentz>
         </payment>
    </default>
	<global>
	 <models>
            <Paymentz>
                <class>Mage_Paymentz_Model</class>
                <resourceModel>Paymentz_mysql4</resourceModel>
            </Paymentz>
            <Paymentz_mysql4>
                <class>Mage_Paymentz_Model_Mysql4</class>
                <entities>
                    <Paymentz>
                        <table>Paymentz</table>
                    </Paymentz>
                </entities>
            </Paymentz_mysql4>
        </models>
	   <resources>
			<Paymentz_setup>
				<setup>
					<module>Mage_Paymentz</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</Paymentz_setup>
			<Paymentz_write>
				<connection>
					<use>core_write</use>
				</connection>
			</Paymentz_write>
			<Paymentz_read>
				<connection>
					<use>core_read</use>
				</connection>
			</Paymentz_read>
		</resources>
    </global>
</config>